body {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: 'Kalam', cursive;
}

body .title {
    text-align: center;
    font-size: 4rem;
    
}

main {
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
}

.board {
    width: 300px;
    height: 300px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    position: relative;
}

.cell {
    background-color: white;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.o::before,
.cell.o::after {
    background-color: black;
}

/* .cell.x::before, */
/* .cell.x::after, */
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    content: "";
    width: 20px;
    height: 90px;
    position: absolute;
}

/* .cell.x::before, */
.board.x .cell:not(.x):not(.o):hover::before {
    rotate: 45deg;
}

/* .cell.x::after, */
.board.x .cell:not(.x):not(.o):hover::after {
    rotate: -45deg;
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    content: "";
    border-radius: 50%;
    position: absolute;
}

/* .cell.o::before, */
.board.o .cell:not(.x):not(.o):hover::before {
    width: 90px;
    height: 90px;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    background-color: lightgray;
}

/* .cell.o::after, */
.board.o .cell:not(.x):not(.o):hover::after {
    background-color: white;
    width: 50px;
    height: 50px;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message #restart-btn {
    font-size: 3rem;
    min-width: 200px;
    margin: 0 0 1rem 0;
    z-index: 1;
}

.winning-message button {
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    font-size: 1rem;
    min-width: 160px;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
}

.winning-message .mode-drop-btn,
.winning-message .order-drop-btn {
    background-color: teal;
    min-width: 160px;
    color: white;
    margin-bottom: 0;
    font-size: 1rem;
    border: 1px solid black;
}

.winning-message .dropdown {
    position: relative; 
    display: inline-block;
    font-size: 1rem;
}

.dropdown .dropdown-content {
    position: absolute;
    z-index: 1;
}


.dropdown .dropdown-content {
    display: none;
}


.dropdown:hover .dropdown-content{
    display: block;
}

.line {
    position: absolute;
    background-color: red;
}

.line-row1 {
    width: 0;
    height: 4px;
    top: 16%;
    animation: width-increase 1s forwards; 
}

.line-row2 {
    width: 0;
    height: 4px;
    top: 50%;
    animation: width-increase 1s forwards; 
}

.line-row3 {
    width: 0;
    height: 4px;
    top: 83%;
    animation: width-increase 1s forwards; 
}

@keyframes width-increase {
    100% { width: 100%; }
}

.line-column1 {
    height: 0;
    width: 4px;
    left: 16%;
    animation: height-increase 1s forwards; 
}

.line-column2 {
    height: 0;
    width: 4px;
    left: 50%;
    animation: height-increase 1s forwards; 
}

.line-column3 {
    height: 0;
    width: 4px;
    left: 83%;
    animation: height-increase 1s forwards; 
}

@keyframes height-increase {
    100% { height: 100%; }
}

.line-diagonal1{
    width: 0;
    height: 4px;
    top: 3%;
    left: 5%;
    rotate: 45deg;
    animation: diagonal-increase 1s forwards; 
    transform-origin: top left;
}

.line-diagonal2{
    width: 0;
    height: 4px;
    top: 4%;
    left: 96%;
    rotate: 135deg;
    animation: diagonal-increase 1s forwards; 
    transform-origin: top left;
}

@keyframes diagonal-increase {
    100% { width: 130%; }
}

.player-info {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: large;
    margin: 0 20px;
}

.mark-container {
    width: 90%;
    height: 90%;
    position: relative;
}

.cell.o .halfclip {
    width: 50%;
    height: 100%;
    right: 0px;
    position: absolute;
    overflow: hidden;
    transform-origin: left center;
    animation: cliprotate 1s steps(2) forwards;
}

.cell.o .halfcircle {
    box-sizing: border-box;
    height: 100%;
    right: 0px;
    position: absolute;
    border: solid 20px transparent;
    border-top-color: black;
    border-left-color: black;
    border-radius: 50%;
}

.cell.o .clipped {
    width: 200%;
    animation: rotate 0.5s linear 2 forwards;
}

.cell.o .fixed {
    width: 100%;
    transform: rotate(135deg);  
    animation: showfixed 1s forwards;
    opacity: 0;
}


@keyframes cliprotate {
  0% {transform: rotate(0deg);}
  49.9% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(180deg);}
}



@keyframes rotate {
  0% {transform: rotate(-45deg);}
  100% {transform: rotate(135deg);}
}

@keyframes showfixed {
    0% {opacity: 0;}
    49.9% {opacity: 0;}
    50% {opacity: 1;}
   100% {opacity: 1;}
  }

.cell.x .x-left {
    background-color: black;
    position: absolute;
    rotate: 45deg;
    top: 6.5px;
    left: 21px;
    content: "";
    width: 0px;
    height: 20px;
    transform-origin: top left;
    animation: extend-left 1s forwards;
}

.cell.x .x-right {
    content: "";
    background-color: black;
    position: absolute;
    rotate: 135deg;
    top: 20px;
    left: 83.5px;
    width: 0px;
    height: 20px;
    transform-origin: top left;
    animation: extend-right 1s forwards;
}

@keyframes extend-left {
    50% {width: 90px;}
    100% {width: 90px;}
}

@keyframes extend-right {
    50% {width: 0;}
    100% {width: 90px;}
}

.hide {
    display: none;
}

#confetti {
    position: fixed;
    width: 1280px;
    height: 960px;
}

@media screen and (min-width: 1280px) {
    #confetti {
        width: 100vw;
    }
  }

@media screen and (min-height: 960px) {
#confetti {
    width: 100vh;
}
}